[submodule "ggml"]
	path = ggml
	url = git@github.com:maxilevi/ggml.git
[submodule "highway"]
	path = highway
	url = https://github.com/google/highway.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
