[submodule "ggml"]
	path = ggml
	url = https://github.com/maxilevi/ggml.git
[submodule "highway"]
	path = highway
	url = https://github.com/google/highway.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
